QWidget {
    background-color: #f0f0f0;
}
QPushButton {
    background-color: #fc980c;
    color: white;
    border: 2px solid #afafaf;
    padding: 10px 20px;
    font-size: 16px;
}
QPushButton {
    background-color: #f0f0f0;
    color: rgb(17, 17, 17);
    border: 2px solid #afafaf;
    padding: 10px 20px;
    font-size: 16px;
}
QPushButton:hover{
    background-color: #cc7906;
}
QPushButton:active{
    background-color: #ffffff;
}
QPushButton:active{
    background-color: #ff9500;
}
QLineEdit {
    background-color: #e6e6e6;
    border: 2px solid #ccc;
    padding: 5px;
}